body {
  margin: 0;
  font-family: cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Navbar.css */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; /* Set the background to transparent */
  padding: 1rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: black;
  background-color: transparent; /* Set the button background to transparent */
  border: 2px solid transparent; /* Set border to transparent */
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s, border-color 0.3s; /* Add transition for hover effect */
}

.nav-list li a:hover {
  background-color: limegreen; /* Change background color on hover */
  border-color: limegreen; /* Change border color on hover */
}

/* About Page css */
.author-button:hover {
  background-color: limegreen; 
  border-color: limegreen;
}

.author-button {
  text-decoration: none;
  color: black;
  background-color: transparent;
  border: 2px solid transparent;
  transition: background-color 0.3s, border-color 0.3s;
}
